.hs-form-required{
		color:#0057bb !important;
	}

	.hs-form .label{
		color:#f2a900 !important;
	}

	.hs-input{
		border-bottom:1px solid #dadada !important;
		border-top:none !important;
		border-right:none !important;
		border-left:none !important;
		box-shadow:inset 0 0px 0px rgba(0,0,0,0) !important;
	}
	.hs-button.primary.large{
		background-color: #ffffff !important;
		background-image:none !important;
		color: #0057bb !important;
		text-transform: uppercase !important;
		text-shadow: none !important;
		box-shadow: none !important;
		border-radius: 0px !important;
		border-top: 1px solid #0057bb !important;
		border-right: 1px solid #0057bb !important;
		border-left: 1px solid #0057bb !important;
		border-bottom: 1px solid #0057bb !important;
	}
	.hs-button.primary.large:hover{
		background-color: #0057bb !important;
		background-image:none !important;
		color: #ffffff !important;
		text-transform: uppercase !important;
		text-shadow: none !important;
		box-shadow: none !important;
		border-radius: 0px !important;
		border-top: 1px solid #0057bb !important;
		border-right:1px solid #0057bb !important;
		border-left:1px solid #0057bb !important;
		border-bottom:1px solid #0057bb !important;
	}
	.hs-input.footerForm{
		background-color: #2d2d2d !important;
		border-bottom:none !important;
		border-top:none !important;
		border-right:none !important;
		border-left:none !important;
		box-shadow:inset 0 0px 0px rgba(0,0,0,0) !important;
	}
	.hs-button.primary.large.footerForm{
		background-color: #2d2d2d !important;
		background-image:none !important;
		color: #ffffff !important;
		text-transform: uppercase !important;
		text-shadow: none !important;
		box-shadow: none !important;
		border-radius: 0px !important;
		border-top: 1px solid #2d2d2d !important;
		border-right: 1px solid #2d2d2d !important;
		border-left: 1px solid #2d2d2d !important;
		border-bottom: 1px solid #2d2d2d !important;
	}
	.hs-button.primary.large.footerForm:hover{
		background-color: #0057bb !important;
		background-image:none !important;
		color: #ffffff !important;
		text-transform: uppercase !important;
		text-shadow: none !important;
		box-shadow: none !important;
		border-radius: 0px !important;
		border-top: 1px solid #0057bb !important;
		border-right:1px solid #0057bb !important;
		border-left:1px solid #0057bb !important;
		border-bottom:1px solid #0057bb !important;
	}
	.imgActive:focus{
		background: #0057bb !important;
		padding: 10px;
	}